.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  margin-top: 5%;
}

.top-section {
  margin: 0 15%;
  width: 100%;
  display: flex;
}

.head-title {
  color: green;
  font-size: large;
  font-weight: bold;
  letter-spacing: 5px;
  padding: 5px 30px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.logout {
  margin-left: 40%;
}
